@media screen and (max-width: 950px){
    .container{
        width: 60%;
    }
}

@media screen and (max-width: 620px){
    input[type="number"]{
        width: 50%;
        font-size: 1em;
    }
    input[type="button"], input[type="reset"]{
        padding: 0.3em;
        font-size: 1em;
    }
}

@media screen and (max-width: 550px){
    input[type="number"]{
        width: 90%;
        font-size: 1.2em;
    }
    input[type="button"], input[type="reset"]{
        display: inline-block;
        margin: 0.5em auto;
        width: 80%;
        padding: 0.4em;
        font-size: 1em;
    }
}

@media screen and (max-width: 450px){
    .output{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.7em;
    }
}
